In [13]:
import pandas as pd
import config_prod as config
#import json
from datetime import date, timedelta
import phood_api

In [14]:
names = pd.read_excel('Phood Solutions List Names.xlsx')
names=names.drop([0,1,2])
names=names.iloc[:,0:2]

names.columns = ['PLU', 'Item_Names']
names.reset_index(drop=True)
ndic = names.set_index('PLU').to_dict('index')

In [15]:
locations = ['dedham', 'hingham', 'westford', 'westhartford', 'cranston']
unnamedplu = []
masterlist=[]
#print(ndic)
locationinfo = {51: {'name': 'Dedham'}, 52: {'name': 'Hingham'}, 53: {'name': 'Westford'}, 54: {'name': 'West hartford'}, 55: {'name': 'Cranston'}}
for location in locations:
    phoodServer = phood_api.PhoodAPI(config.base_url)
    username = location
    res = phoodServer.login(username, config.password).json()
    endDate = date.today() #- timedelta(days=date.today().weekday())
    startDate = date(2019,9, 29)
    #endDate = date.today()- timedelta(days=1)
    #startDate = endDate - timedelta(days=6)
    res = phoodServer.get_food_logs(startDate, endDate).json()
    PLUEntries = filter(lambda x: x['clientId'], res)
    orderedEntries = list(sorted(PLUEntries, key=lambda x: x["loggedTime"]))
    hotBar,saladBar,soupBar = set(),set(),set()
    res = phoodServer.getPersistentItems().json()
    for pItem in res:
        if pItem['station'].lower().startswith('hot bar'):
            hotBar.add(pItem['clientId'])
        elif pItem['station'].lower().startswith('salad bar'):
            saladBar.add(pItem['clientId'])
        elif pItem['station'].lower().startswith('soup'):
            soupBar.add(pItem['clientId'])
        else:
            print(f'unclassified item {pItem}')

    res = phoodServer.getPanInfo().json()
    panInfo = {}
    for pan in res:
        panInfo[pan["id"]] = {"name": pan["name"], "weight": pan["weightQuantity"]}
    #print(panInfo)
            
    for item in orderedEntries:
        item['clientId'] = item['clientId'].replace("-", "")
        #print(item['clientId'])
        if item['itemName'] in ndic.keys():
            item['itemName'] = ndic[int(item['clientId'])]['Item_Names']
        else:
            unnamedplu.append(item)
        #print(item['Item_Names'])
        if item['clientId'] in hotBar:
            item['station'] = 'HB'
        elif item['clientId'] in saladBar:
            item['station'] = 'SB'
        elif item['clientId'] in soupBar:
            item['station'] = 'SO'
        item['Location'] = locationinfo[item['locationId']]['name']
        item['Served']=item['Saved']=item['Sold']=item['Shrink']=0
        if 'panId' in item and item['panId']:
            panWeight = panInfo[item['panId']]['weight']
        else:
            panWeight = item['panWeight'] 
        if item['actionTaken']=='Served':
            item['Served'] = +item['quantity'] - panWeight
        if item['actionTaken']=='Discarded':
            item['Shrink'] = +item['quantity'] - panWeight
        if item['actionTaken']=='Saved':
            item['Saved'] = +item['quantity'] - panWeight
        item['Sold'] = item['Served'] - item['Saved'] - item['Shrink']
        if item['clientId'] == '00449791900':
            item['station'] = 'HB'
            #print(item)
        
    masterlist.extend(orderedEntries)

In [16]:
#print(startDate)
#print(endDate)

In [17]:
#masterlist

In [18]:
#type(masterlist)

In [19]:
raw = pd.DataFrame(masterlist)

In [20]:
#raw[raw.clientId == '95501']

In [21]:
raw

,dateProduced,id,itemName,itemType,clientId,loggedTime,meal,actionTaken,actionReason,quantity,...,panWeight,unit,station,employeeName,locationId,Location,Served,Saved,Sold,Shrink
0,2019-09-28,41385,Romaine Lettuce,Menu Item,46000055863,2019-09-29T06:10:55.000Z,Breakfast,Served,Start,10.38380,...,3.241,Lbs,SB,None,51,Dedham,7.14280,0.0,7.14280,0.00000
1,2019-09-28,41386,Romaine Lettuce,Menu Item,46000055863,2019-09-29T06:11:11.000Z,Breakfast,Served,Start,9.74443,...,3.241,Lbs,SB,None,51,Dedham,6.50343,0.0,6.50343,0.00000
2,2019-09-28,41387,Baby Spinach,Menu Item,46000055923,2019-09-29T06:11:30.000Z,Breakfast,Served,Start,6.52568,...,3.241,Lbs,SB,None,51,Dedham,3.28468,0.0,3.28468,0.00000
3,2019-09-28,41388,Spring Mix,Menu Item,46000063050,2019-09-29T06:11:46.000Z,Breakfast,Served,Start,6.48159,...,3.241,Lbs,SB,None,51,Dedham,3.24059,0.0,3.24059,0.00000
4,2019-09-28,41389,Kale,Menu Item,46000055842,2019-09-29T06:20:21.000Z,Breakfast,Served,Start,7.87050,...,3.241,Lbs,SB,None,51,Dedham,4.62950,0.0,4.62950,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36082,2019-11-15,77905,American Chop Suey,Menu Item,46000064578,2019-11-15T21:14:45.000Z,Breakfast,Discarded,Over Produced,7.14298,...,3.800,Lbs,HB,None,55,Cranston,0.00000,0.0,-3.34298,3.34298
36083,2019-11-15,77908,Buttered Chicken Meatballs,Menu Item,46000016160,2019-11-15T21:15:16.000Z,Breakfast,Discarded,Over Produced,4.65175,...,0.950,Lbs,HB,None,55,Cranston,0.00000,0.0,-3.70175,3.70175
36084,2019-11-15,77913,"Cauliflower, Roasted Chile & Garlic HB NA",Menu Item,46000020411,2019-11-15T21:16:27.000Z,Breakfast,Discarded,Over Produced,2.88806,...,0.950,Lbs,HB,None,55,Cranston,0.00000,0.0,-1.93806,1.93806
36085,2019-11-15,77915,Mashed Potatoes,Menu Item,46000057474,2019-11-15T21:16:54.000Z,Breakfast,Discarded,Over Produced,3.17466,...,0.950,Lbs,HB,None,55,Cranston,0.00000,0.0,-2.22466,2.22466
36086,2019-11-15,77917,"Passover, Rosemary Roasted Potatoes with Lemon...",Menu Item,46000024415,2019-11-15T21:17:18.000Z,Breakfast,Discarded,Over Produced,4.21083,...,0.950,Lbs,HB,None,55,Cranston,0.00000,0.0,-3.26083,3.26083

In [22]:
rawfile=raw

In [23]:
raw.columns = ['Date_Produced', 'Log_ID', 'Item_Name', 'Item_Type', 'PLU', 'Logged_Time', 'Meal', 'Action_Taken', 'Action_Reason', 'Quantity', 'Pan_ID', 'Pan_Weight', 'Unit', 'Station', 'Employee_Name', 'Location_ID','Location', 'Served','Saved','Sold','Shrink']

In [24]:
rawfile

,Date_Produced,Log_ID,Item_Name,Item_Type,PLU,Logged_Time,Meal,Action_Taken,Action_Reason,Quantity,...,Pan_Weight,Unit,Station,Employee_Name,Location_ID,Location,Served,Saved,Sold,Shrink
0,2019-09-28,41385,Romaine Lettuce,Menu Item,46000055863,2019-09-29T06:10:55.000Z,Breakfast,Served,Start,10.38380,...,3.241,Lbs,SB,None,51,Dedham,7.14280,0.0,7.14280,0.00000
1,2019-09-28,41386,Romaine Lettuce,Menu Item,46000055863,2019-09-29T06:11:11.000Z,Breakfast,Served,Start,9.74443,...,3.241,Lbs,SB,None,51,Dedham,6.50343,0.0,6.50343,0.00000
2,2019-09-28,41387,Baby Spinach,Menu Item,46000055923,2019-09-29T06:11:30.000Z,Breakfast,Served,Start,6.52568,...,3.241,Lbs,SB,None,51,Dedham,3.28468,0.0,3.28468,0.00000
3,2019-09-28,41388,Spring Mix,Menu Item,46000063050,2019-09-29T06:11:46.000Z,Breakfast,Served,Start,6.48159,...,3.241,Lbs,SB,None,51,Dedham,3.24059,0.0,3.24059,0.00000
4,2019-09-28,41389,Kale,Menu Item,46000055842,2019-09-29T06:20:21.000Z,Breakfast,Served,Start,7.87050,...,3.241,Lbs,SB,None,51,Dedham,4.62950,0.0,4.62950,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36082,2019-11-15,77905,American Chop Suey,Menu Item,46000064578,2019-11-15T21:14:45.000Z,Breakfast,Discarded,Over Produced,7.14298,...,3.800,Lbs,HB,None,55,Cranston,0.00000,0.0,-3.34298,3.34298
36083,2019-11-15,77908,Buttered Chicken Meatballs,Menu Item,46000016160,2019-11-15T21:15:16.000Z,Breakfast,Discarded,Over Produced,4.65175,...,0.950,Lbs,HB,None,55,Cranston,0.00000,0.0,-3.70175,3.70175
36084,2019-11-15,77913,"Cauliflower, Roasted Chile & Garlic HB NA",Menu Item,46000020411,2019-11-15T21:16:27.000Z,Breakfast,Discarded,Over Produced,2.88806,...,0.950,Lbs,HB,None,55,Cranston,0.00000,0.0,-1.93806,1.93806
36085,2019-11-15,77915,Mashed Potatoes,Menu Item,46000057474,2019-11-15T21:16:54.000Z,Breakfast,Discarded,Over Produced,3.17466,...,0.950,Lbs,HB,None,55,Cranston,0.00000,0.0,-2.22466,2.22466
36086,2019-11-15,77917,"Passover, Rosemary Roasted Potatoes with Lemon...",Menu Item,46000024415,2019-11-15T21:17:18.000Z,Breakfast,Discarded,Over Produced,4.21083,...,0.950,Lbs,HB,None,55,Cranston,0.00000,0.0,-3.26083,3.26083

In [25]:
rawfile[rawfile['Location']== 'Westford']

,Date_Produced,Log_ID,Item_Name,Item_Type,PLU,Logged_Time,Meal,Action_Taken,Action_Reason,Quantity,...,Pan_Weight,Unit,Station,Employee_Name,Location_ID,Location,Served,Saved,Sold,Shrink
13559,2019-09-30,41982,Celery,Menu Item,46000055777,2019-09-30T05:31:37.000Z,Breakfast,Served,Start,3.70377,...,2.93,Lbs,SB,None,53,Westford,0.77377,0.0,0.77377,0.00000
13560,2019-09-30,41983,Broccoli,Menu Item,46000055751,2019-09-30T06:09:54.000Z,Breakfast,Served,Start,3.94627,...,2.66,Lbs,SB,None,53,Westford,1.28627,0.0,1.28627,0.00000
13561,2019-09-30,41984,Grilled Peppers,Menu Item,46000007334,2019-09-30T06:11:13.000Z,Breakfast,Served,Start,0.00000,...,2.66,Lbs,SB,None,53,Westford,-2.66000,0.0,-2.66000,0.00000
13562,2019-09-30,41985,Grilled Peppers,Menu Item,46000007334,2019-09-30T06:11:18.000Z,Breakfast,Served,Start,0.00000,...,2.66,Lbs,SB,None,53,Westford,-2.66000,0.0,-2.66000,0.00000
13563,2019-09-30,41986,Grilled Peppers,Menu Item,46000007334,2019-09-30T06:12:02.000Z,Breakfast,Served,Start,0.00000,...,2.66,Lbs,SB,None,53,Westford,-2.66000,0.0,-2.66000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22692,2019-11-15,77896,VEGETABLES GRILLED HB,Menu Item,46000057221,2019-11-15T22:04:19.000Z,Breakfast,Discarded,Over Produced,1.85188,...,1.54,Lbs,HB,None,53,Westford,0.00000,0.0,-0.31188,0.31188
22693,2019-11-15,77898,Mashed Potatoes,Menu Item,46000057474,2019-11-15T22:04:56.000Z,Breakfast,Discarded,Over Produced,3.81400,...,1.54,Lbs,HB,None,53,Westford,0.00000,0.0,-2.27400,2.27400
22694,2019-11-15,77899,Roasted Chicken with Paprika & Olives,Menu Item,46000021881,2019-11-15T22:05:23.000Z,Breakfast,Discarded,Over Produced,2.16053,...,1.54,Lbs,HB,None,53,Westford,0.00000,0.0,-0.62053,0.62053
22695,2019-11-15,77901,Macaroni & Cheese,Menu Item,46000060414,2019-11-15T22:05:45.000Z,Breakfast,Discarded,Over Produced,6.19499,...,1.54,Lbs,HB,None,53,Westford,0.00000,0.0,-4.65499,4.65499
22696,2019-11-15,77902,Chicken Tenders,Menu Item,46000015070,2019-11-15T22:06:07.000Z,Breakfast,Discarded,Over Produced,2.66759,...,1.54,Lbs,HB,None,53,Westford,0.00000,0.0,-1.12759,1.12759